*.class

# Package Files #
*.jar
*.war
*.ear
*.log
.setupvagrant.sh.swp
.vagrant
/fuse-poc/target
.metadata
/fuse-poc/activemq-data
camel-java
camel-spring
Servers
/fuse-poc-offline-repo/target

# vim swap files
*.swp
*.swo

# our newly created fuse directory
/jboss-fuse-6.0.0.redhat-024/*

# our features directory
/fuse-poc-features/*

# the .zip for fuse
jboss-fuse-full-6.0.0.redhat-024.zip
